*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.container{
	height: 100vh;
	width: 100%;
	background: burlywood;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calculator{
	background:black ;
	padding: 26px;
	border-radius: 20px;
}
input{
	height: 30px;
	width: 60%;
}

input::placeholder{
	color: black;

}
button{
	border: none;
	outline:none;
	width:60px;
	height:60px;
	border-radius:10px;
	background: ;
	font_size:;
	font-weight:600;
	color: sandybrown;
	margin:10px;
	cursor:pointer;
}
.hasil{
	width:144px;
	color: sandybrown;
	background: white;
	font-weight: 700;
}
.main{
	color: white;
	background: orange;
	font-weight: 400;
}
.operator{
	color: white;
	background: blueviolet;
}